@import "mystarp.css";
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
.background {
  background: linear-gradient(
    180deg,
    rgba(235, 139, 5, 0.646) 25%,
    rgba(255, 105, 180, 0.705) 60%,
    rgba(188, 105, 255, 0.529) 90%
  );

  background-size: 400% 400%;
  animation: show-c 2s ease infinite;
}
@keyframes show-c {
  0% {
    background-position: 0% 25%;
  }
  30% {
    background-position: 25% 50%;
  }
  60% {
    background-position: 50% 75%;
  }
  100% {
    background-position: 100% 25%;
  }
}
.header {
  display: flex;
  position: fixed;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  width: 98%;
  height: 140px;
  border: 3px solid rgba(0, 0, 0, 0.811);
  border-radius: 20px;
  text-align: center;
  box-shadow: 0px 5px 25px 14px rgba(233, 232, 229, 0.77);
  margin: 15px 1%;
  padding-right: 10px;
  z-index: 1;
}
.header::after {
  content: "";
  position: absolute;
  background: transparent;
  backdrop-filter: blur(20px);
  top: 7px;
  bottom: 7px;
  right: 4px;
  left: 4px;
  border: 1.5px solid gold;
  border-radius: 20px;
  z-index: -1;
}
.navbar ul {
  position: absolute;
  right: 44px;
  bottom: 55px;
  display: flex;
  gap: 25px;
  list-style: none;
}

.navbar ul li a {
  display: flex;
  text-decoration: none;
  font-weight: 500;
  font-size: 25px;
  color: black;
  transition: all 0.3s ease-in;
}
.navbar a:hover,
.navbar a:active,
.navbar .active {
  background: linear-gradient(black 20%, lightgray 20%, silver 30%, white);
  background-clip: text;
  color: transparent;
  text-decoration: underline;
  text-decoration-color: silver;
  transform: scale(1.2);
  text-underline-offset: 1rem;
}
.name {
  display: flex;
  gap: 5px;
  margin-left: 30px;
  letter-spacing: 4px;
  background: linear-gradient(black 20%, lightgray 30%, silver 30%, white);
  background-clip: text;
  color: transparent;
  font-style: italic;
  align-items: baseline;
}
.caps {
  font-size: 60px;
}
.header .name .nm {
  font-size: 35px;
}

.day-night {
  position: absolute;
  align-self: center;
  left: 600px;
  width: 50px;
  justify-content: space-between;
  display: flex;
}
.hamburger {
  display: none;
}
.hamburger .lines {
  position: absolute;
  width: 36px;
  height: 27px;
  justify-content: space-between;
  display: flex;
  flex-direction: column;
  cursor: pointer;
  right: 50px;
  bottom: 50px;
}
.hamburger .lines span {
  width: 100%;
  height: 3px;
  background-color: black;
}
.hamburger .nav-links {
  position: absolute;
  top: 101%;
  right: 2px;
  overflow: hidden;
  max-height: 0;
  width: 135px;
  list-style: none;
  border: 2px solid rgba(191, 179, 179, 0.821);
  border-radius: 30px;
  background: transparent;
  backdrop-filter: blur(30px);
  transition: all 0.7s ease-in-out;
}

.hamburger .nav-links ul li {
  line-height: 40px;
  list-style: none;
  text-align: center;
  display: flex;
  flex-direction: column;
}
.hamburger .nav-links ul a {
  color: black;
  font-size: large;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
  justify-content: space-around;
}
.hamburger .nav-links ul a:hover,
.hamburger .nav-links ul a:active,
.hamburger .nav-links ul a .active {
  background: linear-gradient(black 20%, lightgray 20%, silver 30%, white);
  background-clip: text;
  color: transparent;
  list-style: none;
  transform: scale(1.2);
}
.day-night {
  left: 40%;
  width: 10vw;
  border: 3px solid black;
  border-radius: 30px;
  align-items: center;
  justify-content: space-around;
  box-shadow: 0px 0px 20px 5px silver;
  padding: 4px 0px;
}
@media screen and (max-width: 1200px) {
  .navbar ul li a {
    font-size: 20px;
  }
  .header .name .nm {
    font-size: 2rem;
  }
  .header .name .caps {
    font-size: 3rem;
  }
  .day-night {
    left: 500px;
  }
}
@media screen and (max-width: 1100px) {
  .navbar ul li a {
    font-size: 20px;
  }
  .header .name .nm {
    font-size: 2rem;
  }
  .header .name .caps {
    font-size: 3rem;
  }
  .day-night {
    left: 400px;
  }
}
@media screen and (max-width: 1000px) {
  .navbar ul li a {
    font-size: 15px;
  }
  .header .name .nm {
    font-size: 1rem;
  }
  .header .name .caps {
    font-size: 2rem;
  }
  .day-night {
    left: 300px;
  }
}
@media screen and (max-width: 800px) {
  .navbar ul li a {
    font-size: 10px;
    font-weight: 500;
  }
  .header .name .nm {
    font-size: 1rem;
  }
  .header .name .caps {
    font-size: 2rem;
  }
  .day-night {
    left: 300px;
  }
}
@media screen and (max-width: 700px) {
  .navbar ul li a {
    display: none;
  }
  .header .name .nm {
    font-size: 1.5rem;
  }
  .header .name .caps {
    font-size: 2.5rem;
  }
  .day-night {
    left: 50vw;
  }
  .hamburger {
    display: block;
  }
  .hamburger .nav-links {
    overflow: hidden;
    max-height: 0px;
  }
}
.hamburger .nav-links .clicked {
  max-height: 250px;
}
.hamburger.lines .clicked span:first-child {
  opacity: 0;
}
.hamburger.lines .clicked span:nth-child(2) {
  transform: rotate(45%);
}
.hamburger.lines .clicked span:nth-child(3) {
  transform: rotate(-45%) translate (5px, 10px);
}
